html {
  height: 100%;
}

body {
	vertical-align: middle;
	min-height: 100%;
	margin: 0px;
}

#codeCanvas {
	background-color: #f2ede3;
}

h1 {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-Serif;
}


.CodeMirror {
	border: 3px solid black;
	vertical-align: bottom;
}

h2 {
	margin: 0px;
	background-color: #b7c8ce;
	font-size: 48px;
	font-family: Orbitron;
	position: relative;
	text-align: center;
}

#otsake {
	color:#00acdc;
	margin:2px 2px 2px 2px;
	border-style:double;
	border-color: #08231c;
	border-width: 4px;
}


#valikko {
	position: relative;
	float: right;
}
h2 button {
	float: right;
	position: relative;
	bottom: -1px;
	height: 64px;
	width: 64px;
	z-index: 1;
}
#nappi img {
	position: relative;
	right: 10px;
	bottom: 2px;
	display: block;
	height: 64px;
	width: 64px;
	z-index: 1;
}
#preview {
	width: 64x;
	height: 32px;
	float: left;
}
#save {
	width: 64x;
	height: 32px;
	float: left;
	position: relative;
	left: 40px;
}

@font-face { font-family: Orbitron; src: url('https://fonts.google.com/specimen/Orbitron'); }